{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap.megamenu.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/jquery.modally.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'grid/css/vertical-menu.css' %}" rel="stylesheet">

  <!-- jQuery-->
  <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>

  <title>Администрация г.Прокопьевска</title>
</head>

<body>

  {% include 'app/header.html' %}

  <div id="breadcrumbs">
    {% comment %} {% block breadcrumbs %}{% endcomment %}
    {% if bc_items %}
    {% comment %} {% render_breadcrumbs bc_items %} {% endcomment %}
    {% include 'app/breadcrumbs.html' with breadcrumbs_items=bc_items %}
    {% endif %}
    {% comment %} {% endblock %} {% endcomment %}
  </div>


  {% block grid %}
  {% comment %} {% include 'grid/grid.html' %} {% endcomment %}
  {% endblock grid %}
  {% comment %} <div id="component">
    <div class="container">
      <div id="content">
        {% block component %}
        {% render_menu 'activity' %}
        {% render_menu 'plan-goroda'%}
        {% render_menu 'structure' %}
        {% render_menu 'press' %}
        {% render_menu 'gorod' %}
        {% endblock component %}
      </div>
    </div>
  </div> {% endcomment %}

    {% comment %} <a href="#myModal" role="button" class="btn btn-secondary" data-bs-toggle="modal">Launch demo
      modal</a>

    <div id="topModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Top-Level</h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true"
              aria-label="Закрыть">×</button>
          </div>
          <div class="modal-body">
            <p>This modal should appear above the other modal.</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Modal header</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
              aria-label="Закрыть">×</button>
          </div>
          <div class="modal-body">
            <p>Click "Open Modal" to open another modal with this modal staying open.</p>
            <p>Default behavior of Bootstrap is for the other modal to render beneath this one because it is above it
              within the html document.</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#topModal">Open Modal</button>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    <section>
  </div>
  <div id="modal-1" style="display:none" class="modally-init" modally-max-width="1000">
    <h1 class="modal-title">Hey there!</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. Yes I am this lazy.</p>
      {% lorem 30 p%}
    <div class="button-wrap">
      <a target="_modal:close" class="button small">Close me!</a><a href="#ipsum" target="_modal"
        class="button gradient small">Open 2nd one!</a>
    </div>
  </div>
  <div id="ipsum" style="display:none">
    <h1 class="modal-title">You still here?!</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. Yes I am this lazy.</p>
      {% lorem 30 p%}

    <div class="button-wrap">
      <a class="button small modally-close">Close me!</a><a href="#dolor" target="_modal:open"
        class="button gradient small">Open 3rd one!</a>
    </div>
  </div>

  <div id="dolor" style="display:none" modally-max-width="500">
    <h1 class="modal-title">I'm the last one.</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. Yes I am this lazy.</p>

    <div class="button-wrap">
      <a href="#dolor" target="_modal:close" class="button gradient small">Close me!</a>
    </div>
  </div>
  <section>


  {% include 'app/footer.html' %}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->

  <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.sticky-kit.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.modally.js' %}"></script>
  <script src="{% static 'app/js/custom.js' %}"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>