{% load static %}
{% comment %} {% load render_menu %} {% endcomment %}
{% comment %} {% load render_breadcrumbs %} {% endcomment %}
{% comment %} {% load render_grid %} {% endcomment %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap.megamenu.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'grid/css/vertical-menu.css' %}" rel="stylesheet">

  <!-- jQuery-->
  <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>

  <title>Администрация г.Прокопьевска</title>
</head>

<body>

  {% include 'app/header.html' %}

  <div id="breadcrumbs">
    {% comment %} {% block breadcrumbs %}{% endcomment %}
      {{bc_items}}
      {% if bc_items %}
          {% comment %} {% render_breadcrumbs bc_items %} {% endcomment %}
        {% include 'app/breadcrumbs.html' with breadcrumbs_items=bc_items %}
      {% endif %}
    {% comment %} {% endblock %} {% endcomment %}
  </div>

  
  {% block grid %}
    {% comment %} {% include 'grid/grid.html' %} {% endcomment %}
  {% endblock grid %}
  {% comment %} <div id="component">
    <div class="container">
      <div id="content" >
        {% block component %}
        {% render_menu 'activity' %}
        {% render_menu 'plan-goroda'%}
        {% render_menu 'structure' %}
        {% render_menu 'press' %}
        {% render_menu 'gorod' %}
        {% endblock component %}
      </div>
    </div>
  </div> {% endcomment %}

  {% include 'app/footer.html' %}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->

  <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.sticky-kit.min.js' %}"></script>
  <script src="{% static 'app/js/custom.js' %}"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>