{% if breadcrumbs_items|length > 1 %}
    <div class="container">
        <div class="breadcrumbs pt-3 fs-6">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                {% for url_title, url_path in breadcrumbs_items %}
                    {% if forloop.last %} 
                        <li class="breadcrumb-item active" aria-current="page">{{ url_title }}</li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" href="{{url_path}}">{{ url_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
              </ol>
            </nav>
        </div>
    </div>
{% endif %}
