{% load static %}
{% load render_menubar %}
<header>
    <div id="topmenu-bar">
        <div class="text-end py-2 me-4">
            <ul class="list-inline mb-0 text-decoration-none">
                <li class="list-inline-item"><a href=""><i class="bi bi-diagram-3"></i> Карта сайта</a></li>
                <li class="list-inline-item"><a href=""><i class="bi bi-eye"></i> Версия для слабовидящих</a></li>
            </ul>
        </div>
    </div>
    <div id="mainmenu-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-light py-0 border-top shadow">
            <div class="container-fluid">
                <div class="logo-area d-flex flex-nowrap ">
                    <div class="logo d-flex text-center text-md-start">
                        <a href="/"
                            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                            <img style="" src="{% static 'app/img/gerb-prk-small.png' %}">
                            <div class="logo-text">
                                <span class="d-flex text-primary ms-2 fs-5">Администрация города Прокопьевска</span>
                                <span class="d-flex text-muted ms-2 fs-6">официальный сайт</span>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="navbar-toggler collapsed ms-auto " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-content">
                    <div class="hamburger-toggle">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">

                    {% render_menubar maxlevel=2 %}

                    <form class="d-flex ms-auto">
                        <div class="input-group">
                            <input class="form-control border-1 mr-2" type="search" placeholder="Найти" aria-label="Поиск">
                            <button class="btn btn-primary border-0" type="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>