<ul class="nav nav-tabs nav-justified border-bottom mt-4" id="module-{{module.obj.id}}-tabs-tab" role="tablist">

    {% for single_post in module.contents.posts %}
    <li class="nav-item" role="presentation">
        <a href="#{{single_post.post.alias}}"
        {% comment %} <a href="#{{forloop.counter}}" {% endcomment %}
            class="nav-link {% if forloop.first %}active{% endif %}" 
            id="module-{{module.obj.id}}-tabs-tab-post-{{forloop.counter}}" 
            data-bs-toggle="tab"
            data-bs-target="#module-{{module.obj.id}}-tabs-post-{{forloop.counter}}" 
            type="button" 
            role="tab" 
            aria-controls="module-{{module.obj.id}}-tabs-post-{{forloop.counter}}"
            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            >
            {{ single_post.post.title }}
    </a>
    </li>
    {% endfor %}

    {% for postfeed in module.contents.postfeeds %}
    <li class="nav-item" role="presentation">
        <a href="#{{postfeed.feed.alias}}"
            class="nav-link " 
            id="module-{{module.obj.id}}-tabs-tab-feed-{{forloop.counter}}" 
            data-bs-toggle="tab"
            data-bs-target="#module-{{module.obj.id}}-tabs-feed-{{forloop.counter}}" 
            type="button" 
            role="tab" 
            aria-controls="module-{{module.obj.id}}-tabs-feed-{{forloop.counter}}"
            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            >
            <i class="bi bi-newspaper"></i>
            {{ postfeed.feed.title }}
    </a>
    </li>
    {% endfor %}

    {% for menu in module.contents.menus %}
    <li class="nav-item" role="presentation">
        <a href="#{{menu.obj.url}}"
            class="nav-link " 
            id="module-{{module.obj.id}}-tabs-tab-menu-{{forloop.counter}}" 
            data-bs-toggle="tab"
            data-bs-target="#module-{{module.obj.id}}-tabs-menu-{{forloop.counter}}" 
            type="button" 
            role="tab" 
            aria-controls="module-{{module.obj.id}}-tabs-menu-{{forloop.counter}}"
            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            >
            <i class="bi bi-newspaper"></i>
            {{menu.parent.title}}
    </a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content p-3" id="module-{{module.obj.id}}-tabs-tabContent">

    {% for single_post in module.contents.posts %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
        id="module-{{module.obj.id}}-tabs-post-{{forloop.counter}}" 
        role="tabpanel"
        aria-labelledby="module-{{module.obj.id}}-tabs-tab-post-{{forloop.counter}}"
        >

        {% include 'content/post.html' %}
        
    </div>
    {% endfor %}

    {% for postfeed in module.contents.postfeeds %}
    <div class="tab-pane fade " 
        id="module-{{module.obj.id}}-tabs-feed-{{forloop.counter}}" 
        role="tabpanel"
        aria-labelledby="module-{{module.obj.id}}-tabs-tab-feed-{{forloop.counter}}"
        >

        {% include 'content/postfeed.html' with layout='compact' %}

    </div>
    {% endfor %}

    {% for menu in module.contents.menus %}
    <div class="tab-pane fade " 
        id="module-{{module.obj.id}}-tabs-menu-{{forloop.counter}}" 
        role="tabpanel"
        aria-labelledby="module-{{module.obj.id}}-tabs-tab-menu-{{forloop.counter}}"
        >

        {% if module.obj.menu_style == 'vertical_with_submenus'  or module.obj.menu_style == 'vertical_without_submenus' %}

            {% include 'menus/menu_vertical.html' with menu_tree=menu.subitems layout=module.obj.menu_style %}

        {% elif module.obj.menu_style == 'horizontal_blocks' %}
    
            {% include 'menus/menu_blocks.html' with menu_tree=menu.subitems  %}

        {% endif %}
        {% comment %} {% include 'site_settings/postfeed.html' with layout='compact' %} {% endcomment %}

    </div>
    {% endfor %}

</div>