{% load content_extras %}

{% if content.show_title %}
    <div class="content-title mb-3">
        {% if layout == 'normal' %}
        <h3>{{content.get_title}}</h3>
        {% elif layout == 'compact' %}
        <h5>{{content.get_title}}</h5>
        {% endif %}
    </div>
{% endif %}

{% if content.content_type == 'menu' %}
    {% if content.menu_style == 'vertical_with_submenus'  or content.menu_style == 'vertical_without_submenus' %}

        {% include 'menus/layout_menu_vertical.html' with menu_tree=content.content_menu.get_subitems layout=content.menu_style %}

    {% elif content.menu_style == 'horizontal_blocks' %}

        {% include 'menus/layout_menu_blocks.html' with menu_tree=content.content_menu.get_subitems  %}

    {% endif %}
{% endif %}

{% if content.content_type == 'post' %}

    {% include 'content/layout_post.html' with post=content.content_post attachments=content.content_post.get_attachments %}

{% endif %}

{% if content.content_type == 'feed' %}

    {% with feed=content.content_feed posts=content.get_feed_page feed_style=content.feed_style columns=content.feed_num_columns count_items=content.feed_count_items sort_direction=content.feed_sort_direction readmore=content.feed_readmore %}

        {% split_posts_by_columns posts columns sort_direction as posts_by_columns %}
        {% calc_max_posts_in_col posts columns as max_posts %}
        {% posts_by_columns_flatten posts_by_columns as posts %}

        {% if content.feed_style == 'compact_feed' %}
            {% include 'content/layout_feed_list.html' %}
        {% elif content.feed_style == 'blocks' %}
            {% include 'content/layout_feed_blocks.html' %}
        {% elif content.feed_style == 'blocks_with_images_left' %}
            {% include 'content/layout_feed_blocks_with_images_left.html' %}
        {% elif content.feed_style == 'blocks_with_images_top' %}
            {% include 'content/layout_feed_blocks_with_images_top.html' %}
        {% elif content.feed_style == 'slider' %}
            {% comment %} {% posts_by_columns_flatten posts_by_columns as posts %} {% endcomment %}
            {% include 'content/layout_feed_slider.html' %}
        {% endif %}

    {% endwith %}

{% endif %}