{% extends 'menus/menus.html' %}

{% block content %}

    <div id="content-body">

        {% if page.alias != 'home' %}
        <button id="back" type="button" class="btn float-start">
            <i class="bi bi-arrow-left"></i>
        </button>
        {% endif %}
        <h2 id="content-title" class="border-bottom mb-4 pb-3">{{page_title}}</h2>

        {% if messages %}
        <div class="messages mb-4">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
            {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">

            {% if contents.left %}
            <div class="col-12 col-xl-3 content-left">
                {% for content in contents.left %}
                    <div class="my-3">
                        {% include 'content/content_layout.html' with content=content layout='compact' uid=content.uid %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="col">
                {% if contents.top %}
                <div class="content-top border-bottom mb-4 pb-3">
                {% for content in contents.top %}
                    <div class="">
                        {% include 'content/content_layout.html' with content=content layout='normal' uid=content.uid %}
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                
                <div id="content">
                    {% if CONTENT_HTML %}
                        {{CONTENT_HTML}}
                    {% else %}
                        {{ block.super }}
                    {% endif %}
                </div>
                {% comment %} {% if contents.content %}
                    {% if contents.content|length > 1 %}
                        {% include 'content/layout_multicontent.html' with contents=contents.content layout='normal' %}
                    {% else %}
                        {% include 'content/content_layout.html' with content=contents.content.0 layout='normal' uid=contents.content.0.uid %}
                    {% endif %}
                {% endif %} {% endcomment %}

                {% if contents.stacked %}
                    <div class="content-stacked">
                    {% for content in contents.stacked %}
                        <div class="my-5">
                            {% include 'content/content_layout.html' with content=content layout='normal' uid=content.uid %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if contents.right %}
            <div class="col-12 col-xl-3 content-right">
                {% for content in contents.right %}
                    <div class="mb-4">
                        {% include 'content/content_layout.html' with content=content layout='compact' uid=content.uid %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>

{% endblock content %}
