{% if content.show_title %}
    <div class="content-title mb-3">
        {% if layout == 'normal' %}
        <h3>{{content.get_title}}</h3>
        {% elif layout == 'compact' %}
        <h5>{{content.get_title}}</h5>
        {% endif %}
    </div>
{% endif %}

{% if content.content_type == 'menu' %}
    {% if content.menu_style == 'vertical_with_submenus'  or content.menu_style == 'vertical_without_submenus' %}

        {% include 'menus/layout_menu_vertical.html' with menu_tree=content.content_menu.get_subitems layout=content.menu_style %}

    {% elif content.menu_style == 'horizontal_blocks' %}

        {% include 'menus/layout_menu_blocks.html' with menu_tree=content.content_menu.get_subitems  %}

    {% endif %}
{% endif %}

{% if content.content_type == 'post' %}

    {% include 'content/layout_post.html' with post=content.content_post attachments=content.content_post.get_attachments %}

{% endif %}

{% if content.content_type == 'feed' %}

    {% with feed=content.content_feed columns=content.feed_num_columns feed_style=content.feed_style paginator=content.get_feed_page %}

        {% include 'content/layout_feed.html' %}

    {% endwith %}

{% endif %}

{% if content.content_type == 'tagcloud' %}

    {% with style=content.tagcloud_style %}

        {% include 'content/layout_tagcloud.html' %}

    {% endwith %}

{% endif %}