{% load crispy_forms_tags %}
    {% comment %} {% csrf_token %} {% endcomment %}

    {% comment %} {% for field in form %} {% endcomment %}
    <div class="flex-grow row align-items-center gy-2">
        <div class="col">
            {{ form.tag|as_crispy_field}}
        </div>
        <div class="col-12 col-xxl">
            <div class="row align-items-center g-3">
                <div class="col">
                    {{ form.date_start|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.date_end|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="row">
        <div class="col">
            {{ form.tags|as_crispy_field }}
        </div>
    </div> {% endcomment %}
