{{form.media}}

<form action="" method="get" class="row g-3 d-flex align-items-center ">
    {% csrf_token %}

    {% comment %} {% for field in form %} {% endcomment %}
    <div class="flex-grow row align-items-center">
        <div class="col">
            <label for="id_q" class="form-label">{{ form.q.label_tag }}</label>
            {{ form.q.errors }}
            {{ form.q }}
        </div>
        <div class="col-12 col-xxl">
            <label for="content-filter-range" class="form-label">
                Дата публикации:
            </label>
            <div class="row align-items-center g-3">
                <div id="content-filter-range" class="col-auto">
                    <label for="id_date_start" class="col-form-label">
                        {{ form.date_start.label_tag }}
                    </label>
                </div>
                <div class="col">
                    {{ form.date_start }}
                    {{ form.date_start.errors }}
                </div>
                <div class="col-auto">
                    <label for="id_date_end" class="col-form-label">
                        {{ form.date_end.label_tag }}
                    </label>
                </div>
                <div class="col">
                    {{ form.date_end }}
                    {{ form.date_end.errors }}
                </div>
            </div>
        </div>
    </div>
    {% comment %} {% endfor %} {% endcomment %}

    <div class="">
        <input type="submit" class="btn btn-primary w-100 " value="Применить">
    </div>
</form> 