
{% if paginator.has_next %}

    <div id="{{uid}}-feed-loadbox" class="d-grid gap-2">
        {% comment %} <div class="my-2 border-top"></div> {% endcomment %}
        <button 
            id="{{uid}}-feed-loadmore"
            style="height:75px;"
            class="btn btn-outline-primary" type="button">
            Загрузить еще
        </button>
    </div>

    <script>
        $('#{{uid}}-feed-loadmore').on('click', function (e) {
            var parent = "#{{uid}}",
                target = parent + " #{{uid}}-feed-loadbox";
            $.ajax({
                url: "{% url 'ajax_feed_page' feed.id %}?page={{paginator.next_page_number}}&{{filter_params_row|safe}}",
                method: 'get',
                dataType: 'html',
                beforeSend: function(xhr){
                    // старт анимации загрузки
                    $(target).wrap( '<div class="main_overlay_block"></div>' );
                    $(parent + ' .main_overlay_block').prepend('<div class="overlay_block"></div>');
                    $(target).addClass('loading_process');
                },
                success: function (data) {
                    $(target).replaceWith(data); // добавляем полученный html
                    // прокрутка к блоку
                    $("html,body").animate({
                        scrolltop: $('#{{uid}}-page-{{paginator.next_page_number}}').offset().top - 100
                    }, 200);
                },
                complete: function (){
                    // снимаем анимацию загрузки
                    $(target).removeClass('loading_process');
                    $(parent + ' .overlay_block').remove();
                    $(target).unwrap();
                }
            });
        });
    </script>
{% endif %}