<div id="{{uid}}-page-{{posts.number}}">
    {% comment %} <div class="row"> {% endcomment %}
    <div class="row row-cols-1 row-cols-md-{{columns}} gx-4 mb-3">
        {% for post in posts %}
        <div class="col border-bottom">
            {% comment %} <ul class="list-group list-group-flush">
                <li class="list-group-item my-2"> {% endcomment %}
                <div class="">
                    <div class="d-flex align-items-center justify-content-between my-2 ">
                        <div class="mb-0"> 
                            <div>
                            <a href="{{post.get_url}}" class="w-100">
                                <h5>{{post.title}}</h5>
                            </a>
                            </div>

                            <div class="d-flex flex-nowrap">
                                <small class="text-muted me-2" 
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Дата публикации"
                                    >
                                    {{post.published_at}}
                                </small>
                                {% comment %} <small class="text-muted me-2" 
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Количество просмотров"
                                    >
                                    <i class="bi bi-eye me-0"></i>
                                    {{post.hits}}
                                </small> {% endcomment %}
                                {% if post.count_attachments %}
                                <small class="text-muted me-2"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    title="Количество вложений"
                                    >
                                    <i class="bi bi-paperclip me-0"></i>
                                    {{post.count_attachments}}
                                </small>
                                {% endif %}
                            </div>
                        </div>

                        {% if layout == 'compact' %}
                        <div class="" style="min-width:6rem;">
                            <div class="flex-shrink-1">
                                {% comment %} {% include 'content/post_readmore.html' %} {% endcomment %}
                                <a href="#modal-2" post="{{post.get_url}}" target="_modal" class="btn btn-outline-primary ">
                                    <i class="bi bi-book me-0"></i>
                                    Читать
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {% if show_introtext %}
                        <div class="mt-1">
                            {{post.intro_text|safe}}
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex justify-content-end">
                            <a href="{{post.get_url}}" type="button" class="btn btn-outline-primary">
                                <i class="bi bi-book me-0"></i>
                                Читать
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% comment %} </li>
            </ul> {% endcomment %}
        </div>
    {% endfor %}
    </div>
</div>

{% if layout == 'normal' %}
    {% if posts.has_next %}

        <div id="{{uid}}-loadbox" class="d-grid gap-2">
            <div class="my-2 border-top"></div>
            <button 
                id="{{uid}}-loadmore"
                style="height:75px;"
                class="btn btn-outline-primary" type="button">
                Загрузить еще
            </button>
        </div>

        <script>
            $('#{{uid}}-loadmore').on('click', function (e) {
                var parent = "#{{uid}}",
                    target = parent + " #{{uid}}-loadbox";
                $.ajax({
                    url: "{% url 'ajax_feed_page' feed.alias %}?page={{posts.next_page_number}}{% if count_items %}&items_per_page={{count_items}}{% endif %}&uid={{uid}}{% if layout %}&layout={{layout}}{%endif%}",
                    method: 'get',
                    dataType: 'html',
                    beforeSend: function(xhr){
                        // старт анимации загрузки
                        $(target).wrap( '<div class="main_overlay_block"></div>' );
                        $(parent + ' .main_overlay_block').prepend('<div class="overlay_block"></div>');
                        $(target).addClass('loading_process');
                    },
                    success: function (data) {
                        $(target).html(data); // добавляем полученный html
                        // прокрутка к блоку
                        $("html,body").animate({
                            scrollTop: $('#{{uid}}-page-{{posts.next_page_number}}').offset().top - 100
                        }, 200);
                    },
                    complete: function (){
                        // снимаем анимацию загрузки
                        $(target).removeClass('loading_process');
                        $(parent + ' .overlay_block').remove();
                        $(target + ' > div').unwrap().unwrap();
                    }
                });
            });
        </script>
    {% endif %}
{% endif %}


<script>
    $('#{{uid}}-page-{{posts.number}} a[href="#modal-2"][post]').on('click', function (e) {
        var target = '#modal-2 .modal-body';
        $.ajax({
            url: "{% url 'ajax_post' %}?post=" + $(this).attr('post'),
            method: 'get',
            dataType: 'html',
            beforeSend: function(xhr){
                // старт анимации загрузки
                $(target).wrap( '<div class="main_overlay_block"></div>' );
                $('.main_overlay_block').prepend('<div class="overlay_block"></div>');
                $(target).addClass('loading_process');
            },
            success: function (data) {
                //{% comment %} $(target).replaceWith(data); // добавляем полученный html {% endcomment %}
                $(target).html(data); // добавляем полученный html
            },
            complete: function (){
                // снимаем анимацию загрузки
                $(target).unwrap();
                $('.overlay_block').remove();
                $(target).removeClass('loading_process');
            }
        });
    });
</script>