<div id="module-{{module.obj.id}}-feed-blocks-{{feed.alias}}" class="feed-blocks-with-images-top">

    <div class="row row-cols-1 row-cols-md-{{columns}} g-3">
        {% for post in posts %}
        <div class="col">
            <div class="card h-100 mb-3 overflow-hidden border-secondary border-opacity-10">
                <div style="height:200px;">
                    {% if post.image %}
                    <a href="{{post.get_url}}" class="link">
                    <img src="{{post.image.url}}" class="post-image card-img-top img-fluid rounded-start w-100 h-100" alt="...">
                    </a>
                    {% else %}
                     <div class="card-img-top w-100 h-100 bg-secondary d-flex justify-content-center align-items-center">
                        <i class="bi bi-card-image text-light fs-1"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body pb-0">
                    <h6 class="card-title">
                        <a href="{{post.get_url}}" class="link">
                            {{post.title}}
                        </a>
                    </h6>
                    <p class="card-text"><small class="text-muted">{{post.published_at}}</small></p>

                    {% if feed.show_childs %}
                        <div class="float-start me-2">
                            {% include 'content/layout_feed_post_label.html' %}
                        </div>
                    {% endif %}
                    <div>
                        {% include 'content/layout_feed_post_tags.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
