
{% if paginator.has_next %}

    <div id="{{uid}}-feed-loadbox" class="d-grid gap-2">
        {% comment %} <div class="my-2 border-top"></div> {% endcomment %}
        <button 
            id="{{uid}}-feed-loadmore"
            style="height:75px;"
            class="btn btn-outline-primary" type="button">
            Загрузить еще
        </button>
    </div>

    <script>
        $('#{{uid}}-feed-loadmore').on('click', function (e) {
            var parent_block = "#{{uid}}",
                target_block = parent_block + " #{{uid}}-feed-loadbox",
                loaded_block = '#{{uid}}-page-{{paginator.next_page_number}}',
                url = "{% url 'ajax_feed_page' feed.id %}?page={{paginator.next_page_number}}&{{filter_params_row|safe}}";
            $(this).ajax_get_html_wrapper(url, parent_block, target_block, loaded_block);
        });
    </script>
{% endif %}