{% load content_extras %}

{% split_posts_by_columns paginator feed.feed_num_columns feed.feed_sort_direction as posts_by_columns %}
{% calc_max_posts_in_col paginator feed.feed_num_columns as max_posts %}
{% posts_by_columns_flatten posts_by_columns as posts %}

{% comment %} <div id="{{uid}}-feed"> {% endcomment %}
{% if not requested_with_ajax %}

    {# ФИЛЬТР #}
    {% if layout == 'normal' %}
    <div class="d-flex mb-3 justify-content-end">
        <div class="post-filter-form w-100 pb-3 border-bottom" style="display:{% if open_filter_form %}block{% else %}none{% endif %};">
            {{post_filter_form.media}}
            <form action="" method="post" class="row g-3 d-flex align-items-center ">
                {% csrf_token %}
                {{post_filter_form}}
                <div class="d-flex">
                    <input type="submit" class="btn btn-primary w-100 " value="Применить">
                    <a href="" class="btn btn-outline-primary ms-3 flex-shrink-0" value="Сбросить">
                        <i class="bi bi-trash"></i>
                        Сбросить
                    </a>
                </div>
            </form> 
        </div>
        <div class="flex-shrink-1 ms-3 pb-3 ">
            <button class="filter-toggle btn btn-outline-secondary h-100" target=".post-filter-form">
                <i class="bi bi-funnel"></i>
            </button>
        </div>
    </div>
    {% endif %}

    {% if layout == 'normal' %}
    <div class="description">
        {{feed.description|safe }}
        <div class="clearfix"></div>
    </div>
    {% endif %}

{% endif %}


    <div id="{{uid}}-page-{{paginator.number}}" class="mb-3">

        {# ВЫБОР МАКЕТА #}
        {% if feed.feed_style == 'feed' %}
            {% include 'content/layout_feed_list.html' with show_introtext=True %}
        {% elif feed.feed_style == 'compact_feed' %}
            {% include 'content/layout_feed_list.html' %}
        {% elif feed.feed_style == 'blocks' %}
            {% include 'content/layout_feed_blocks.html' %}
        {% elif feed.feed_style == 'blocks_with_images_left' %}
            {% include 'content/layout_feed_blocks_with_images_left.html' %}
        {% elif feed.feed_style == 'blocks_with_images_top' %}
            {% include 'content/layout_feed_blocks_with_images_top.html' %}
        {% elif feed.feed_style == 'slider' %}
            {% comment %} {% posts_by_columns_flatten posts_by_columns as posts %} {% endcomment %}
            {% include 'content/layout_feed_slider.html' %}
        {% endif %}

    </div>

    {% if layout == 'normal' or requested_with_ajax %}
        {% include 'content/layout_feed_loadmore.html' %}
    {% elif layout == 'compact' %}
        {% include 'content/layout_feed_readmore.html' %}
    {% endif %}

{% comment %} </div> {% endcomment %}