<ul class="nav nav-pills nav-justified border-bottom mb-4 pb-4" id="module-{{module.obj.id}}-pills-tab" role="tablist">

    {% for content in contents %}
    <li class="nav-item" role="presentation">
        <a href="#{{content.get_alias}}"
        {% comment %} <a href="#{{forloop.counter}}" {% endcomment %}
            class="nav-link {% if forloop.first %}active{% endif %}" 
            id="module-{{module.obj.id}}-pills-tab-post-{{forloop.counter}}" 
            data-bs-toggle="pill"
            data-bs-target="#module-{{module.obj.id}}-pills-post-{{forloop.counter}}" 
            type="button" 
            role="tab" 
            aria-controls="module-{{module.obj.id}}-pills-post-{{forloop.counter}}"
            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            >
            {% if content.content_type == 'feed' %}
                <i class="bi bi-newspaper"></i>
            {% elif content.content_type == 'menu' %}
                <i class="bi bi-list"></i>
            {% endif %}

            {{ content.get_title }}
    </a>
    </li>
    {% endfor %}

</ul>

<div class="tab-content" id="module-{{module.obj.id}}-pills-tabContent">

    {% for content in contents %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
        id="module-{{module.obj.id}}-pills-post-{{forloop.counter}}" 
        role="tabpanel"
        aria-labelledby="module-{{module.obj.id}}-pills-tab-post-{{forloop.counter}}"
        >

        {% include 'content/content_layout.html' with content=content uid=content.uid %}
        
    </div>
    {% endfor %}
{% comment %} 
    {% for postfeed in contents.postfeeds %}
    <div class="tab-pane fade " 
        id="module-{{module.obj.id}}-pills-feed-{{forloop.counter}}" 
        role="tabpanel"
        aria-labelledby="module-{{module.obj.id}}-pills-tab-feed-{{forloop.counter}}"
        >

        {% include 'content/postfeed.html' with feed=postfeed.feed posts=postfeed.posts layout='compact' %}

    </div>
    {% endfor %} {% endcomment %}

</div>