<div id="content-body">

{% if contents.info.count.total > 1 %}

    {% include 'content/multicontent.html' %}

{% else %}

    {% if contents.info.count.posts %}
        {% include 'content/post.html' with post=contents.posts.0.post attachments=contents.posts.0.attachments uid=contents.posts.0.post.alias %}
    {% endif %}

    {% if contents.info.count.postfeeds %}
        {% include 'content/postfeed.html' with feed=contents.postfeeds.0.feed posts=contents.postfeeds.0.posts uid=contents.postfeeds.0.feed.alias %}
    {% endif %}

{% endif %}

</div>