<div id="content-body">

{% if contents.info.count.total > 1 %}

    {% include 'content/multicontent.html' %}

{% else %}

    {% with contents.posts.0 as single_post %}
        {% include 'content/post.html' %}
    {% endwith %}

    {% with contents.postfeeds.0 as postfeed %}
        {% include 'content/postfeed.html' %}
    {% endwith %}

    {% comment %} <h1>{{contents.posts.attachments}}</h1>
    {% for a in contents.single_posts.attachments %}
    <h1>{{a.attachment}}</h1>
    {%endfor%} {% endcomment %}
{% endif %}

</div>