<div id="{{feed.alias}}-page-{{posts.number}}">
    <ul class="list-group list-group-flush">
    {% for post in posts %}
        <li class="list-group-item my-2">

        <div class="d-flex justify-content-between mb-0"> 
            <a href="{{post.alias}}">
                <h4>{{post.title}}</h5>
            </a>
        </div>
        <div class="d-flex flex-nowrap">
            <small class="text-muted me-2" 
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Дата публикации"
                >
                {{post.published_at}}
            </small>
            <small class="text-muted me-2" 
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Количество просмотров"
                >
                <i class="bi bi-eye me-0"></i>
                {{post.hits}}
            </small>
            {% if post.count_attachments %}
            <small class="text-muted me-2"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="Количество вложений"
                >
                <i class="bi bi-paperclip me-0"></i>
                {{post.count_attachments}}
            </small>
            {% endif %}
        </div>
            {% comment %} {% if layout != 'compact' %} {% endcomment %}
            <div class="mt-1">
                {{post.intro_text|safe}}
            </div>
            {% comment %} {% endif %} {% endcomment %}
            <div class="clearfix"></div>
            <div class="d-flex justify-content-end">
                <a href="{{post.alias}}" type="button" class="btn btn-outline-primary">
                    <i class="bi bi-book me-0"></i>
                    Читать
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{% if posts.has_next %}

    <div id="{{feed.alias}}-loadbox" class="d-grid gap-2">
        <div class="my-2 border-top"></div>
        <button 
        id="{{feed.alias}}-loadmore"
        style="height:75px;"
        class="btn btn-outline-primary" type="button">Загрузить еще</button>
    </div>

    <script>
        $('#{{feed.alias}}-loadmore').on('click', function (e) {
            var target = "#{{feed.alias}}-loadbox";
            $.ajax({
                url: "{% url 'feed_page' feed.alias %}?page={{posts.next_page_number}}",
                method: 'get',
                dataType: 'html',
                beforeSend: function(xhr){
                    // старт анимации загрузки
                    $(target).wrap( '<div class="main_overlay_block"></div>' );
                    $('.main_overlay_block').prepend('<div class="overlay_block"></div>');
                    $(target).addClass('loading_process');
                },
                success: function (data) {
                    $(target).replaceWith(data); // добавляем полученный html
                    // прокрутка к блоку
                    $("html,body").animate({
                        scrollTop: $('#{{feed.alias}}-page-{{posts.next_page_number}}').offset().top - 100
                    }, 200);
                },
                complete: function (){
                    // снимаем анимацию загрузки
                    $(target).unwrap();
                    $('.overlay_block').remove();
                    $(target).removeClass('loading_process');
                }
            });
        });
    </script>
{% endif %}