
{% comment %} <script>
    $('a[href="#modal-1"][feed="{{feed.alias}}"]').on('click', function (e) {
        var target = '#modal-1 .modal-body';
        $.ajax({
            url: "{% url 'ajax_feed_page' feed.alias %}?&uid={{module.obj.id}}",
            method: 'get',
            dataType: 'html',
            beforeSend: function(xhr){
                // старт анимации загрузки
                $(target).wrap( '<div class="main_overlay_block"></div>' );
                $('.main_overlay_block').prepend('<div class="overlay_block"></div>');
                $(target).addClass('loading_process');
            },
            success: function (data) {
                $(target).html(data); // добавляем полученный html
            },
            complete: function (){
                // снимаем анимацию загрузки
                $(target).unwrap();
                $('.overlay_block').remove();
                $(target).removeClass('loading_process');
            }
        });
    });
</script> {% endcomment %}