{% load static %}
{% load breadcrumbs %}

{% breadcrumbs bc_items %}

{% comment %} <h1>TYT{{ gt }}</h1>
<h1>TYT{{ get}}</h1> {% endcomment %}

{% if menus %}
<div id="content" class="container p-5 ">
  {% if not subcategory %}
  <h2 class="border-bottom pb-3">
    Деятельность
    {% if category %}
    - {{ category.title }}
    {% endif %}
  </h2>
  {% endif %}

  <div class="row row-cols-1 row-cols-md-4 g-4 my-3">
    {% for menu in menus %}
    <div class="col">
      <div class="card" class="hover-shadow">
        <a href="
                {% if add_path %}
                    {% url 'activity' %}{{ menu.alias }}
                {% else %}
                    {{ menu.alias }}
                {% endif %}
                ">
          <div class="card-body">
            <h5 class="card-title">{{ menu.title }}</h5>
            <p class="card-text">{{ menu.description}}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row mb-3 gx-5">
    <div class="col-md-10">
      {% if contents %}
      <div id="content" class='container py-4'>
        <button id="back" type="button" class="btn float-start"><i class="bi bi-arrow-left"></i></button>
        {% for key, value in contents.items %}
        <h2 class="border-bottom pb-3">{{ value.0.title }}</h2>
        {{ key }}
        <p>{{ value.0.text|safe }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="col-md-2 right">
      {% if submenus %}
      <ul class="nav flex-column nav-tabs">
        {% for menu in submenus %}
        <li class="nav-item border-bottom"><a class="nav-link" href="{{ menu.alias }}">{{ menu.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>