{% extends 'grid/grid.html' %}

{% block content %}

  {% comment %} {% block content_block %} {% endcomment %}

    {% comment %} {% if page.alias != 'home' %}
    <button id="back" type="button" class="btn float-start">
        <i class="bi bi-arrow-left"></i>
    </button>
    {% endif %}
    <h2 id="content-title" class="border-bottom mb-4 pb-3">{{ page.title }}</h2>

    <div class="page-description">
      {{ page.description|safe }}
    </div>

    {% include 'menus/layout_menu_blocks.html' %} {% endcomment %}

  {% comment %} {% endblock content_block %} {% endcomment %}

{% endblock content %}
      {% comment %} </div> {% endcomment %}


      {% comment %} {% if menus and contents %}  
      <div id="right-side" class="col ps-3 border-start">

        <div id="right-side-content">
          {% if menus and contents %}
          <div id="submenu">
            <div class="card">
        <div class="card-header">
          Подкатегории
        </div>
        <div class="card-body">
          {% include 'menus/menu_list.html' %}
          <p class="card-text">

          </p>
        </div>
      </div>
          </div>
          {% endif %}

        </div>
      </div>
      {% endif %} {% endcomment %}

    {% comment %} </div> {% endcomment %}