{% extends 'site_settings/grid.html' %}

{% block content %}

  {% comment %} {% block content_block %} {% endcomment %}

    <div class="page-description">
      {{ page.description|safe }}
    </div>

    {% include 'menus/menu_blocks.html' %}

  {% comment %} {% endblock content_block %} {% endcomment %}

{% endblock content %}
      {% comment %} </div> {% endcomment %}


      {% comment %} {% if menus and contents %}  
      <div id="right-side" class="col ps-3 border-start">

        <div id="right-side-content">
          {% if menus and contents %}
          <div id="submenu">
            <div class="card">
        <div class="card-header">
          Подкатегории
        </div>
        <div class="card-body">
          {% include 'menus/menu_list.html' %}
          <p class="card-text">

          </p>
        </div>
      </div>
          </div>
          {% endif %}

        </div>
      </div>
      {% endif %} {% endcomment %}

    {% comment %} </div> {% endcomment %}