{% if menu_tree|length > 0 %}
<ul class="navbar-nav d-flex flex-wrap mr-auto mb-2 mb-lg-0 ms-auto">
    {% for level_1 in menu_tree %}
    <li class="nav-item 
        {% if level_1.subitems != None %}
            dropdown
        {% endif %}
        {% if level_1.item.megamenu and level_1.subitems != None %}
            dropdown-mega position-static
        {% endif %}
    ">  
        {% if level_1.subitems != None %}
        <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" aria-expanded="false" href="{{level_1.url}}">
        {% else %}
        <a class="nav-link" aria-current="page" href="{{level_1.url}}">
        {% endif %}
            {% if level_1.item.icon %}
            <i class="bi bi-{{level_1.item.icon}}"></i>
            {% endif %}
            {{level_1.item.title }} 
        </a>

        {% if not level_1.item.megamenu and level_1.subitems != None %}

            <ul class="dropdown-menu shadow">
                {% for level_2 in level_1.subitems %}
                    {% if level_2.subitems != None %}
                    <li class="dropend">
                        <a href="{{level_2.url}}" class="dropdown-item dropdown-toggle">
                    {% else %}
                    <li>
                        <a class="dropdown-item" href="{{ level_2.url }}">
                    {% endif %}
                            {% if level_2.item.icon %}
                            <i class="bi bi-{{level_2.item.icon}}"></i>
                            {% endif %}
                            {{ level_2.item.title }}
                        </a>

                        {% if level_2.subitems != None %}
                        <ul class="dropdown-menu shadow">
                            {% for level_3 in level_2.subitems %}
                            <li><a class="dropdown-item" href="{{level_3.url}}">
                                {% if level_3.item.icon %}
                                <i class="bi bi-{{level_3.item.icon}}"></i>
                                {% endif %}
                                {{ level_3.item.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                
                {% endfor %}
            </ul>

        {% elif level_1.item.megamenu and level_1.subitems != None %}

            <div class="dropdown-menu shadow">
                <div class="mega-content px-4">
                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-md-4 g-4">

                            {% for level_2 in level_1.subitems %}
                                <div class="col">
                                    <div class="card h-100 border-0">
                                        <div class="card-body">
                                            <a class="dropdown-item" href="{{ level_2.url }}">
                                                <h5>{{level_2.item.title}}</h5>
                                            </a>
                                            {% if level_2.subitems != None %}
                                            <ul class="list-group list-group-flush">

                                                {% for level_3 in level_2.subitems %}
                                                <li class="list-group-item py-0">
                                                    <a class="text-decoration-none" href="{{level_3.url}}">
                                                        {{level_3.item.title}}
                                                    </a>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif%}

