{% comment %} {% lorem 30 w %} {% endcomment %}
<div class="module">

    {{module.obj.pre_html|safe}}
    <div class="clearfix"></div>

    {% if module.contents|length > 1 %}

        {% include 'grid/module_multicontent.html' with contents=module.contents %}

    {% else %}

        {% comment %} {% with module.contents.0 as content %} {% endcomment %}

            {% include 'content/content_layout.html' with content=module.contents.0 uid=module.contents.0.uid %}

        {% comment %} {% endwith %} {% endcomment %}
    {% endif %}

    {{module.obj.post_html|safe}}
    <div class="clearfix"></div>
</div>