{% comment %} {% lorem 30 w %} {% endcomment %}
<div class="module">

    {{module.obj.pre_html|safe}}

    <div class="clearfix"></div>

    {% if module.contents|length > 1 %}

        {% include 'grid/module_multicontent.html' with contents=module.contents %}

    {% else %}

        {% with module.contents.0 as content %}

            {% if content.content_type == 'menu' %}
                {% if content.menu_style == 'vertical_with_submenus'  or content.menu_style == 'vertical_without_submenus' %}

                    {% include 'menus/menu_vertical.html' with menu_tree=content.menu.get_subitems layout=content.menu_style %}

                {% elif content.menu_style == 'horizontal_blocks' %}
            
                    {% include 'menus/menu_blocks.html' with menu_tree=content.menu.get_subitems  %}

                {% endif %}
            {% endif %}

            {% if content.content_type == 'post' %}

                {% include 'content/post.html' with post=content.post attachments=content.post.get_attachments %}

            {% endif %}

            {% if content.content_type == 'feed' %}

                {% if content.feed_style == 'compact_feed' %}
                    {% include 'content/postfeed.html' with feed=content.feed posts=content.feed.get_page layout='compact'%}

                {% elif content.feed_style == 'blocks' %}
                    {% include 'content/postfeed_blocks.html' with feed=content.feed posts=content.feed.get_page %}

                {% elif content.feed_style == 'slider' %}

                    {% include 'content/postfeed_slider.html' with feed=content.feed posts=content.feed.get_page %}

                {% endif %}
            {% endif %}
        {% endwith %}
    {% endif %}

    {{module.obj.post_html|safe}}

    <div class="clearfix"></div>
</div>