/* ZOOM HOVER EFFECT */
a.zoom-wrapper img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

a.zoom-wrapper:hover img {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}
/* .container {
	max-width: 1500px;
} */
body {
	/* background: #f6f9ff; */
	background: #fdfdfd;
}
#topmenu-bar a {
	text-decoration: none;
}
#mainmenu-bar {
	z-index:1000;
}
/* #content,
header,
.right {
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
} */
#content {
	background-color: #fff;
}
img {
	border-color: #dfdfdf;
}
#content .card:hover{
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#content .card a{
text-decoration:none;
color:#000;
}
#content .card-text{
color: #777;
}

#right-side .card:hover{
	box-shadow: none;
}
header .navbar-nav {
	line-height: 2rem;
}

header .navbar-nav .dropdown-menu {
	line-height: 2rem;
}

header .dropdown-menu {
	border-top: 0;
}

header .navbar-nav .nav-item a {
	white-space: nowrap;
}

header .nav-item:hover {
	background: none;
	box-shadow: inset 0 -4px 0 rgb(171, 166, 255);
}

header .navbar-nav .nav-item a i {
	margin-right: 4px;
}

.row {
  --bs-gutter-x: 0;
}

.logo {
	height: 80px;
}

.logo img {
	height: 60px;
}

.logo .logo-text {
	line-height: 1.5rem;
}


@media (min-width: 1380px) {
	header .navbar-nav {
		line-height: 4rem;
	}
}

@media (max-width: 990px) {
	header #navbar-content {
		padding-bottom: .5rem;
	}
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #666;
	background: none;
	/* border: 1px #0d6efd solid; */
}
#content .nav-link:hover {
	box-shadow: 2px 2px 5px rgba(174, 174, 174, 0.5), 1px 1px 5px rgb(255, 255, 255);
}
#content .nav-link.active{
	box-shadow: inset 2px 2px 5px rgba(100, 100, 100, 0.5), 1px 1px 5px rgb(255, 255, 255);
}
.nav-pills .nav-link {
	color:#666;
}

#submenu .nav-item:hover { 
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(174, 174, 174, 0.5), 1px 1px 5px rgb(255, 255, 255);
}
/* TOOLTIPS */
.custom-tooltip {
	--bs-tooltip-bg: var(--bs-gray-600);
	--bs-tooltip-color: var(--bs-light);
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb),.50) !important;
}

/* AJAX ANIMATION*/
.overlay_block{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/preloader1.gif) center center no-repeat;
  z-index: 9999;
}
.loading_process{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}
.main_overlay_block{
  position: relative;
}